<section data-ng-controller="EntriesController">
<div class ="row">
		<div class="col-sm-12">
	<div class="page-header">
		<h1>New Match Entry</h1>
	</div>

		<div class="row" id="matchInfo">
			<div class="col-xs-12">
				<h3>Match Information</h3>
			</div>
			<div class="col-xs-2" data-ng-class="{ 'has-error': entryForm.match.$dirty && entryForm.match.$invalid }">
				<label>Match Number - {{match}}</label>
				<input type="number" min="1" placeholder="Match Num" data-ng-model="match" />
			</div>
			<div class="col-xs-2"  data-ng-class="{ 'has-error': entryForm.team.$dirty && entryForm.team.$invalid }">
				<label>Team Number - {{team}} </label>
				<input type="number" min="1" placeholder="Team Num" data-ng-model="team" />
			</div>
			<div class="col-xs-2">
				<div class="row">
					<div class="col-xs-12">
						<label>Alliance {{alliance}} </label></div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<label>
							<input type="radio" data-ng-model="alliance" value="Blue" data-ng-checked="true"> Blue </label>
					</div>
					<div class="col-xs-6">
						<label>
							<input type="radio" data-ng-model="alliance" value="Red"> Red </label>
					</div>
				</div>
			</div>
		</div>


<p></p>
		<div class="row" id="auton">
			<div class="col-xs-12">
				<h4>Autonomous Mode</h4>
			</div>
			<div class="col-xs-2">
				<label>Starting Position {{spos}} </label>
				<div class="row">
					<div class="col-xs-12">
						<label>
							<input type="radio" data-ng-model="spos" value="Alliance" ng-checked="true"> Alliance Wall </label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<label>
							<input type="radio" data-ng-model="spos" value="Center"> Center Field </label>
					</div>
				</div>
			</div>
			<div class="col-xs-2">
				<label>Robot Set? {{botset}}</label>
				<div class="row">
					<div class="col-xs-6">
						<label>
							<input type="radio" data-ng-model="botset" value="1"> Yes </label>
					</div>
					<div class="col-xs-6">
						<label>
							<input type="radio" data-ng-model="botset" value="0" data-ng-checked="true"> No </label>
					</div>
				</div>
			</div>
			<div class="col-xs-2">
				<label>Tote Set? {{toteset}}</label>
				<div class="row">
					<div class="col-xs-6">
						<label>
							<input type="radio" data-ng-model="toteset" value="1"> Yes </label>
					</div>
					<div class="col-xs-6">
						<label>
							<input type="radio" data-ng-model="toteset" value="0" data-ng-checked="true"> No </label>
					</div>
				</div>
			</div>
			<div class="col-xs-2">
				<label>Bin Set? {{binset}}</label>
				<div class="row">
					<div class="col-xs-6">
						<label>
							<input type="radio" data-ng-model="binset" value="1"> Yes </label>
					</div>
					<div class="col-xs-6">
						<label>
							<input type="radio" data-ng-model="binset" value="0" data-ng-checked="true"> No </label>
					</div>
				</div>
			</div>
			<div class="col-xs-2">
				<label>Totes Stack? {{autontotestack}}</label>
				<input type="number" min="0" max="3" data-ng-model="autontotestack" />
			</div>
			<div class="col-xs-2" ng-if="autonToteStack===3">
				<label>Tote Stack Scored? {{autototestackzone}}</label>
				<div class="row">
					<div class="col-xs-6">
						<label>
							<input type="radio" data-ng-model="autototestackzone" value="1"> Yes </label>
					</div>
					<div class="col-xs-6">
						<label>
							<input type="radio" data-ng-model="autototestackzone" value="0" data-ng-checked="true"> No </label>
					</div>
				</div>
			</div>
		</div>
		<p></p>
		<div class="row" id="tele">
			<h4>Teleoperated Mode</h4>
			<div class="col-xs-2">
				<label>Co-Op Stack?</label>
				<div class="row">
					<div class="col-xs-6">
						<label>
							<input type="radio" data-ng-model="coop" value="1"> Yes </label>
					</div>
					<div class="col-xs-6">
						<label>
							<input type="radio" data-ng-model="coop" value="0" data-ng-checked="true"> No </label>
					</div>
				</div>
			</div>
			<div class="col-xs-2">
				<label>Number of Tote Stacks</label>
				<input type="number" min="0" max="6" data-ng-model="teleToteStack" />
			</div>
			<div class="col-xs-2">
				<label>Litter Thrown</label>
				<input type="number" min="0" max="10" data-ng-model="litter" />
			</div>
			<div class="col-xs-2">
				<label>Robot Zone Play</label>
				<select ng-model="zone">
					<option ng-value="1">Alliance Wall</option>
					<option ng-value="2">Landfill</option>
					<option ng-value="3" ng-selected="true">Mixed</option>
				</select>
			</div>
		</div>
		<div></div>
		<div class="row">
			<div ng-if="teleToteStack >=1">
				<div data-stack-input-directive stack-number="1" total-scored-objects="scoredGamePieces">stack-{{teleToteStack}}</div>
			</div>
			<div ng-if="teleToteStack >=2">
				<div data-stack-input-directive stack-number="2" total-scored-objects="scoredGamePieces">stack-{{teleToteStack}}</div>
			</div>
			<div ng-if="teleToteStack >=3">
				<div data-stack-input-directive stack-number="3" total-scored-objects="scoredGamePieces">stack-{{teleToteStack}}</div>
			</div>
			<div ng-if="teleToteStack >=4">
				<div data-stack-input-directive stack-number="4" total-scored-objects="scoredGamePieces">stack-{{teleToteStack}}</div>
			</div>
			<div ng-if="teleToteStack >=5">
				<div data-stack-input-directive stack-number="5" total-scored-objects="scoredGamePieces">stack-{{teleToteStack}}</div>
			</div>
			<div ng-if="teleToteStack >=6">
				<div data-stack-input-directive stack-number="6" total-scored-objects="scoredGamePieces">stack-{{teleToteStack}}</div>
			</div>
		</div>
		<p></p>
		<div class="row" id="comments">
			<div class="col-xs-12 inline">
				<p>
					<label>Additional Comments</label>
				</p>
				<textarea rows="4" cols="50" data-ng-model="comments"></textarea>
				{{comments}}
			</div>
		</div>

		<div class="row">
		<p></p>
			<div class="col-xs-12">
				<button ng-click="create()">Submit</button>
			</div>
		</div>
	</div>
</div>
</section>