    <section data-ng-controller="EntriesController" data-ng-init="find()">
    <h1 class="page-header">Match Entries</h1>
    <table show-filter="true" class="table">
        <thead>
            <tr>
                <th width="25px">MATCH</th>
                <th>TEAM</th>
                <th>SIDE</th>
                <th>S-POS</th>
                <th>A-BOT-SET</th>
                <th>A-TOTE-SET</th>
                <th>A-BIN-SET</th>
                <th>A-TOTES STACKED</th>
                <th>A-STACK ZONE</th>
                <th>T-COOP</th>
                <th>T-TOTE</th>
                <th>T-BIN</th>
                <th>T-LITTER</th>
                <th>SCORE</th>
                <th>COM</th>
                <th>CD</th>
                <th>SCOUT</th>
                <th width="50px"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="entry in entries" data-ng-href="#!/entries/{{entry._id}}" data-ng-filter="{'match': number}">
                <td>{{entry.match}}</td>
                <td>{{entry.team}}</td>
                <td>{{entry.alliance}}</td>
                <td>{{entry.spos}}</td> 
                <td>{{entry.botset}}</td>      <!--Start of Auton-->
                <td>{{entry.toteset}}</td>
                <td>{{entry.binset}}</td>
                <td>{{entry.autontotestack}}</td> 
                <td>{{entry.autototestackzone}}</td> <!--End of Auton-->
                <td>{{entry.coop}}</td>   <!--Start of Tele-->  
                <td>{{entry.telestack1tote}}</td>
                <td>{{entry.telestack1bin}}</td>
                <td>{{entry.telestack1litter}}</td> <!--End of Tele-->
                <td>{{entry.score}}</td> 
                <td>{{entry.comments}}</td>
                <td>{{entry.created|date:'mediumDate'}}</td>
                <td>{{entry.user.displayName}}</td>
            </tr>
        </tbody>
    </table>

	<div class="alert alert-warning text-center" data-ng-if="entries.$resolved && !entries.length">
		No match entries yet, why don't you <a href="/#!/entries/create">create one</a>?
	</div>

    <table class="table">
        <thead>
            <tr>
                <th width="25px">MATCH</th>
                <th>TEAM</th>
                <th>SIDE</th>
                <th>S-POS</th>
                <th>FOUL</th>
                <th>COM</th>
                <th>CD</th>
                <th>SCOUT</th>
                <th width="50px"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="entry in entries" data-ng-href="#!/entries/{{entry._id}}">
                <td>Match #</td>
                <td>Team #</td>
                <td>Alliance</td>
                <td>Starting Position</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Created Timestamp</td>
                <td>Scout Name</td>
            </tr>
        </tbody>
    </table>

</section>